@import '../../variables';

.header {
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid $border-primary;
  background-color: $background-primary;
  color: $text-secondary;

  img {
    width: 40px;
    height: 40px;
    margin-left: 20px;
  }

  &__title {
    margin-left: 20px;
  }

  &__wishlist {
    margin-left: auto;
    padding: 20px;
    cursor: pointer;

    &.active {
      color: $background-accent;
      text-decoration: underline;
    }
  }
}
