@import '../../variables';

* {
  box-sizing: border-box;
}

.display {
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  &__filters {
    padding: 20px;

    .filter {
      &__search {
        width: 280px;
      }

      &__price,
      &__rating {
        width: 130px;
      }

      h1 {
        width: 80px;
        display: inline-block;
        font-size: 1em;
        vertical-align: middle;
        margin: 0;
        margin-bottom: 4px;
      }

      button {
        text-transform: capitalize;
        min-width: 130px;

        &.active {
          background-color: $background-primary;
          color: $text-secondary;
        }

        &:hover {
          background-color: lighten($background-primary, 60);
        }
      }

      button,
      input {
        margin-right: 20px;
        margin-bottom: 20px;
        font-family: inherit;
      }
    }
  }

  &__grid {
    flex: 1;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
  }
}

.product {
  height: 400px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    height: 250px;
    max-width: 210px;
    object-fit: contain;
    margin-bottom: 10px;
  }

  &__description {
    margin: 0;
    max-height: 70px;
    flex: 1;
    text-align: center;
    color: $text-primary;
  }

  &__details {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  &__rating {
    span {
      margin-left: 6px;
    }
  }

  &:hover {
    box-shadow: 0 0 20px $background-accent;
    cursor: pointer;
  }
}
