$background-primary: #50394c;
$background-secondary: #b2b2b2;
$background-accent: #ffef96;

$text-primary: #343434;
$text-secondary: #faf9f6;
$text-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
  'Lucida Sans', Arial, sans-serif;

$border-primary: #c0c0c0;
$border-secondary: #e5e4e2;
